body{
    background-color:bisque;
}
.Head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: beige;
    text-align: center;
}
.checked{
    color: orange;
}
   
    

table{
   margin-left:30%;
   border-style: double;
}
.heading{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color:#0c450d;
}
.sub-heading{
font-size: x-large;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.sub-heading-2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rank,.name,.age,.scores,.rating{
    background-color: aquamarine;
    padding:25px;
}
table td {
    padding: 0.5rem;
    border: 5px solid orange;
}
table th {
    padding: 0.5rem;
    border: 5px solid ForestGreen;
}

